body {
  background-color: #0F2A38;
  background-image: url("images/fondSite.jpg");
  color: aliceblue;
  margin: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'PT Serif', serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h1, h2 {
  font-family: 'Fleur De Leah', cursive;
  letter-spacing: 5px;
  text-shadow: white 10px 0 10px;
}

li {
  list-style-type: none;
}

.white-btn a {
  color: aliceblue;
}
a:hover {
  transition: background-color 0.5s;
  background-color: #0F2A38;
  color: aliceblue;
  text-shadow: white 10px 0 10px;
}

.container {
  max-width: fit-content;
  margin: 10px auto;
}

.white-card {
  background-color: rgba(190, 210, 206, 0.175);
  padding: 15px;
  margin: 15px;
  border-radius:5px;
  justify-content: center;
}

#social-logos {
  display: flex;
  justify-content: space-evenly;
}

.fa-brands {
  color: white;
}

.white-btn {
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: #0F2A38;
  font-size: 19px;
  font-weight: 200;
  font-family: 'Fleur De Leah', cursive;
  background-color: white;
  width: 200px;
  height: auto;
  text-align: center;
}

#profile-picture {
  width: auto;
  height: auto;
  border: aliceblue solid 1px;
  border-radius: 5px;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 520px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 320px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 100px;
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 120px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 10px;
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}
